<div class="team_detail">

    <div class="header" style="font-size:1.2em;"> 小组详情 </div>

    <div class="ui inverted divider" style="border-color:orange !important;"></div>
    <div class="team_detail_content">
        <div style="float:left;margin-bottom:20px;">
            <div class="ui sub header" > 交易单元 </div>

            <div class="ui disabled input width">
                <input  value="{{ currentSelectTridName }}">
            </div>

        </div>
        <div style="float:left;margin-left:20px;margin-bottom:20px;">
            <div class="ui sub header" > 小组名称 </div>

            <div class="ui disabled input width" >
                <input  value="{{teamName}}" >
            </div>
        </div>



        <div class=" table-container" style="height:300px;">
            <table class="ui single line selectable striped table">
                <thead id="fix-header">
                    <tr>

                        <th>交易员ID</th>
                        <th>交易员姓名</th>
                        <th>交易员BP</th>
                        <th>杠杆率</th>
                        <th>杠杠BP</th>
                        <th>小组组长</th>
                    </tr>
                </thead>
                <div class="grouped fields2">
                    <tbody>
                        <tr ng-repeat="trader in traders">

                            <td>{{ trader.traderid }}</td>
                            <td>{{ trader.oname }}</td>
                            <td>{{ trader.bp }}</td>
                            <td>{{trader.bp_heaver}}</td>
                            <td>{{ trader.bp * trader.bp_heaver }}</td>
                            <td>
                              <input type="checkbox" ng-checked="isLeaderChecked(trader.traderid )"
                                  onclick="return false" />

                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>

    <div class="actions lk">


        <div class="ui orange button" ng-click="noCreateandBack()">返回</div>

    </div>
</div>
</div>

<style type="text/css">
.table-container{
  overflow: auto;
  margin: 10px 0;
  box-shadow: 0 0 0 1px #e5e5e5 inset;
  border-radius: 5px;
  width: 100%;
  height: 300px;
}
.toolbar_item{
   float:left;
   margin-left:20px;
   margin-top: 20px;
}
.creat_team_tips{
  background-color: orange;
  display: none;
}

</style>
